/***********************************************************************
******************************** HOME **********************************
***********************************************************************/

.home .home-img{
	width: 100%;
	overflow: hidden;
	height: 500px;
	margin: 30px 0 60px;
}

.home .home-img img{
	height: 500px;
	width: auto;
}

.home h2{
	font-family: "Playfair Display", sans-serif;
	color: #222222;
	letter-spacing: 1.4px;
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
}

.home .home-categories{
	background: black;
	width: 1030px;
	height: 172px;
	margin: 0 auto 60px;
	text-align: center;
	position: relative;
}

.home .home-categories:before{
	content: "";
	width: 0;
    height: 0;
    border-bottom: 172px solid black;
    border-left: 70px solid transparent;
    position: absolute;
    left: -70px;
    top: 0;
}

.home .home-categories:after{
	content: "";
	width: 0;
    height: 0;
    border-top: 172px solid black;
    border-right: 70px solid transparent;
    position: absolute;
    right: -70px;
    top: 0;
}

.home .home-categories li{
	display: inline-block;
	text-align: center;
	margin: 0 5px;
}

.home .home-categories li a{
	font-family: "Playfair Display", sans-serif;
	font-size: 60px;
	letter-spacing: 1.4px;
	line-height: 80px;
}

.home .home-categories li a:hover{
	text-decoration: underline;
}

.home .home-categories li a.batom{color:#cc5c5c;}
.home .home-categories li a.gloss{color:#ee4e90;}
.home .home-categories li a.bronzeador{color:#d5af43;}
.home .home-categories li a.sombras{color:#5480c1;}
.home .home-categories li a.delineador{color:#4fb286;}
.home .home-categories li a.corretivo{color:#e0d0a6;}
.home .home-categories li a.pigmentos{color:#8d4eb9;}

.home .other-categories{
	margin-bottom: 20px;
}

.home .other-categories li{
	display: inline-block;
	background: black;
	width: 370px;
	height: 140px;
	margin-right: 25px;
}

.home .other-categories li:last-child{
	margin-right: 0;
}

.home .other-categories li a{
	display: block;
	width: 100%;
	cursor: pointer;
	height: 140px;
}

.home .other-categories li a img{
	float: right;
}

.home .other-categories li a span{
	color: white;
	line-height: 140px;
	display: block;
	float: left;
	font-family: "Playfair Display", sans-serif;
	letter-spacing: 1.4px;
	font-size: 30px;
	padding-left: 40px;
}

/***********************************************************************
**************************** PAGE DEFAULTS *****************************
***********************************************************************/

.internal-page > .top {
	text-align: center;
	margin-bottom: 60px;
}

.internal-page > .top h1{
	font-family: "Playfair Display", sans-serif;
	font-size: 40px;
	font-family: ;
	width: 100%;
	margin: 60px 0 40px;
	letter-spacing: 1.4px;
}

.internal-page > .top .description{
	width: 800px;
	margin:0 auto 20px;
	font-size: 15px;
}

.internal-page > .top a{
	border-bottom: 1px solid black;
	text-align: center;
}

/***********************************************************************
******************************* ADDRESS ********************************
***********************************************************************/

.internal-page-content.address-list{
	width: 400px;
}

.internal-page-content.address-list > p {
	font-size: 22px;
	margin-bottom: 25px;
}

.internal-page-content.address-list > a {
	display: block;
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 60px;
}

.internal-page-content.address-list address {
	width: 320px;
	margin-bottom: 60px;
}

.internal-page-content.address-list address .item-name{
	font-size: 22px;
	margin-bottom: 15px;
	display: block;
}

.internal-page-content.address-list address .item-detail{
	display: block;
	width: 100%;
	line-height: 25px;
}

.internal-page-content.address-list address > a {
	border: 2px solid black;
	display: block;
	width: 200px;
	height: 40px;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 60px;
	margin-top: 20px;
	text-align: center;
}

/***********************************************************************
******************************* ACCOUNT ********************************
***********************************************************************/

.internal-page-content.account{
	width: 800px;
	margin:0 auto 50px;
}

.internal-page-content.account ul {
	border-bottom: 1px solid white;
	margin-top: 60px;
}

.internal-page-content.account ul li{
	margin-bottom: 60px;
	position: relative;
}

.internal-page-content.account ul li a{
	font-size: 24px;
	color: #222222;
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 15px;
	display: block;
	width: 100%;
}

.internal-page-content.account ul li a i{
	position: absolute;
	width: 65px;
	height: 55px;
	left: -80px;
	top: 0;
}

.internal-page-content.account ul li a i.orders{
	background-position: -70px -34px;
}

.internal-page-content.account ul li a i.profile{
	background-position: -136px -34px;
}

.internal-page-content.account ul li a i.address{
	background-position: -198px -34px;
}

.internal-page-content.account ul li a i.wishlist{
	background-position: 0px -34px;
}

.internal-page-content.account a.logout{
	display: block;
	width: 400px;
	margin: 30px auto 0;
	background: black;
	height: 40px;
	line-height: 35px;
	color: white;
	text-align: center;
}

/***********************************************************************
****************************** WHISHLIST *******************************
***********************************************************************/

.internal-page-content.wishlist{
	margin-top: 50px;
	width: 100%;
}

/***********************************************************************
****************************** ORDERS **********************************
***********************************************************************/

.internal-page-content.orders{
	width: 900px;
	margin: 0 auto;
}

.internal-page-content.orders .order{
	margin-bottom: 50px;
	width: 100%;
	float: left;
	display: block;
}
.internal-page-content.orders .order span{
	display: block;
}

.internal-page-content.orders .order .order-number{
	font-size: 22px;
	margin-bottom: 10px;
}

.internal-page-content.orders .order .order-date{
	margin-bottom: 25px;
}

.internal-page-content.orders .order ul{
	float: left;
	width: 100%;
}

.internal-page-content.orders .order ul li{
	float: left;
	width: 100%;
	margin-bottom: 35px;
	height: 100px;
}
.internal-page-content.orders .order ul li .img-holder{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 15px 0 0;
}
.internal-page-content.orders .order ul li a{
	font-size: 24px;
	color: #222222;
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 30px;
	display: block;
}

.internal-page-content.orders .order ul li .delivery-date{
	margin-bottom: 10px;
}

.internal-page-content.orders .order ul li a.rate{
	text-decoration: underline;
	font-size: 11px;
	color: #222222;
	font-family: "Open Sans", sans-serif;
}

/***********************************************************************
****************************** PROFILE *********************************
***********************************************************************/

.internal-page-content.profile-data form{
	width: 400px;
	margin: 0 auto 100px;
}

.internal-page-content.profile-data form label{
	width: 100%;
}

.internal-page-content.profile-data form label span{
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 7px;
}

.internal-page-content.profile-data form label input{
	width: 100%;
	border: 2px solid #9e9e9e;
	padding: 0 10px;
	font-size: 15px;
	margin-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	line-height: 40px;
	height: 40px;
	background: #f5f5f5;
	color: #424242;
}

.internal-page-content.profile-data form a.edit-button{
	width: 100%;
	display: block;
	background: black;
	color: white;
	height: 40px;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
	cursor: pointer;
}

/***********************************************************************
****************************** PROFILE EDIT ****************************
***********************************************************************/

.internal-page-content.profile-edit form label input{
	background: white;
	border: 2px solid black;
	color: black;
}

.internal-page-content.profile-edit form label .field-help{
	margin-top: -23px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.internal-page-content.profile-edit form label .field-help span{
	display: block;
	float: left;
	margin-right: 10px;
	position: relative;
	padding-left: 18px;
	font-size: 11px;
	line-height: 14px;
	width: auto;
}

.internal-page-content.profile-edit form label .field-help span i{
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid black;
	border-radius: 50%;
}

.internal-page-content.profile-edit form a.cancel{
	display: block;
	width: 48%;
	float: left;
	height: 40px;
	line-height: 34px;
	text-align: center;
	border: 2px solid black;
}
.internal-page-content.profile-edit form input[type=submit]{
	width: 48%;
	float: right;
	display: block;
	background: #000000;
	color: white;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	font-size: 15px;
}

/***********************************************************************
******************************** LOGIN *********************************
***********************************************************************/

.internal-page.login{
	width: 400px;
	margin: 50px auto;
}

.internal-page.login form{
	width: 100%;
}

.internal-page.login form label{
	width: 100%;
	margin-bottom: 20px;
	float: left;
}
.internal-page.login form label span{
	display: block;
	margin-bottom: 5px;
}
.internal-page.login form label input{
	width: 100%;
	padding: 0 10px;
	line-height: 40px;
	height: 40px;
	border:2px solid black;
}

.internal-page.login form input[type=submit]{
	width: 100%;
	font-size: 15px;
	height: 40px;
	line-height: 34px;
	background: black;
	color: white;
	text-align: center;
	margin-bottom: 60px;
}

.internal-page.login h3{
	text-align: center;
	font-size: 24px;
	font-family: "Playfair Display", sans-serif;
	margin: 0 0 30px;
	letter-spacing: 1.4px;
	line-height: 32px;
}

.internal-page.login .separator{
	display: block;
	margin: 0 auto 30px;
	width: 40px;
	text-align: center;
	position: relative;
	font-size: 24px;
	font-family: "Playfair Display", sans-serif;
	z-index: 0;
}

.internal-page.login .separator::before{
	content: "";
	width: 175px;
	left: -175px;
	height: 2px;
	background: black;
	position: absolute;
	top: 15px;
	z-index: 0;
}

.internal-page.login .separator::after{
	content: "";
	width: 175px;
	left: 40px;
	height: 2px;
	background: black;
	position: absolute;
	top: 15px;
	z-index: 0;
}

.internal-page.login a.forgot-password{
	font-size: 11px;
	color: black;
	line-height: 11px;
	text-decoration: underline;
	text-align: right;
	margin-top: 5px;
	height: 12px;
}

.internal-page.login a{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
}

.internal-page.login .signup-email{
	background: black;
	margin-bottom: 15px;
}

.internal-page.login .signup-facebook{
	background: #4267b2;
}

/***********************************************************************
******************************** SINGUP ********************************
***********************************************************************/

.internal-page.sign-up {
	margin-top: 60px;
}

.internal-page.sign-up h3{
	text-align: center;
	font-size: 24px;
	font-family: "Playfair Display", sans-serif;
	margin: 0 0 30px;
	letter-spacing: 1.4px;
	line-height: 32px;
}

.internal-page.sign-up form input[type=submit]{
	width: 100%;
}

